.board {
  --square-width-and-height: 100px;

  display: grid;
  grid-template-columns: repeat(8, var(--square-width-and-height));

  .black {
    width: var(--square-width-and-height);
    height: var(--square-width-and-height);
    background-color: black;

    color: white;
  }

  .white {
    width: var(--square-width-and-height);
    height: var(--square-width-and-height);
    background-color: white;

    color: black;
  }
}
